@page "{restaurantId:int}"
@using OdeToFood.Core

@model ASPtest.Pages.Restaurants.EditModel
@{
}
<h3>Edit the Restaurant: @Model.Restaurant.Name </h3>
<form method="post">

    <input type="hidden" asp-for="Restaurant.Id"/>
    <div class="form-group">
        <label asp-for="Restaurant.Name"></label>
        <input asp-for="Restaurant.Name" class="form-control" /> @*asp-for automatically knows what input type you want*@
        <span class="text-danger" asp-validation-for="@Model.Restaurant.Name"></span>
    </div>

      <div class="form-group">
        <label asp-for="Restaurant.Deaths"></label>
        <input asp-for="Restaurant.Deaths" class="form-control" /> @*asp-for automatically knows what input type you want*@
             <span class="text-danger" asp-validation-for="Restaurant.Deaths"></span>
    </div>

      <div class="form-group">
        <label asp-for="Restaurant.Animatronics"></label>
        <input asp-for="Restaurant.Animatronics" class="form-control" /> @*asp-for automatically knows what input type you want*@
             <span class="text-danger" asp-validation-for="Restaurant.Animatronics"></span>
    </div>


      <div class="form-group">
        <label asp-for="Restaurant.Location"></label>
        <input asp-for="Restaurant.Location" class="form-control" /> @*asp-for automatically knows what input type you want*@
             <span class="text-danger" asp-validation-for="Restaurant.Location"></span>
    </div>

      <div class="form-group">
        <label asp-for="Restaurant.Food"></label>
      @* <select asp-for="Restaurant.Food" class="form-control" asp-items="Html.GetEnumSelectList<FoodType>()"> This works for generating a list of selections for the Food type, but anytime i can do something like this in the page model instead of the View, i should do it*@
        <select asp-for="Restaurant.Food" class="form-control" asp-items="Model.Cuisines"> @*Asp-for always asumes that im working on something thats on my model, asp-items does not*@
           <span class="text-danger" asp-validation-for="Restaurant.Food"></span>
        </select>
    </div>

    <button type="submit" class="btn btn-primary" style="accent-color:blue" >Save Changes</button>
 
</form>
@section Scripts{ @*Client side, "live" validation using the scripts*@
    <partial name="_ValidationScriptsPartial"/>
}
<a asp-page="./List" class="styledbutton">Return to List instead</a>