@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

    <div class="container body-content">
        <p>Fazbear Entertainment is a company that owns the Fazbear establishment, including Fredbear's Family Diner, Freddy Fazbear's Pizza since 1983 etc.. They also has an animatronic rental service with the name of Fazbear Funtime Service.</p>
         <vc:restaurant-count></vc:restaurant-count> @*custom tag, based on the restaurantCountView class - KEBAB CASE*@
         </div>
 