@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to my super cool Restaurant site</p>
    <div style="display: block">
        <p>Here's a funny meme :) </p>
    <img src="/SampleImage.jpg" alt="SampleImage"/> @*NEEDS to be in wwwroot to make it publicly available*@
    </div>
</div>
